.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

#imagen_menu > img {
  width: auto;
  height: 50px;
}

mat-sidenav {
  width: 20%;
}

.icono {
  margin-right: 15px;
}
.iconoMdb {
  margin-left: 5px;
  margin-right: 15px;
}

#ln {
  width: 100vw;
  height: 2px;
  background: #139abe;
}

@media (max-width: 540px) {
  mat-sidenav {
    width: 50%;
  }
}
@media (max-width: 414px) {
  mat-sidenav {
    width: 50%;
  }
}


@media (max-width: 320px) {
  #imagen_menu > img {
    width: auto;
    height: 40px;
  }
  mat-sidenav {
    width: 60%;
  }
}

.BtnSideNav {
  color: black;
  font-family: "Roboto", sans-serif;
}

.BtnSideNav:hover {
  color: #139abe;
}
