<div class="container">
  <p class="ta">Administrador</p>

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-4 sepT">
      <a>
        <mdb-card class="testimonial-card asb">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1"></div>

          <!--Avatar-->
          <div class="avatar mx-auto mt-4">
            <img src="../../../../assets/img/menuactual.svg" />
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="TBtn">Menú Actual</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </a>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-4 sepT">
      <a>
        <mdb-card class="testimonial-card asb">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1"></div>

          <!--Avatar-->
          <div class="avatar mx-auto mt-4">
            <img src="../../../../assets/img/recibos.svg" class="" />
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="TBtn">Recibos</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT">
      <a (click)="goToCategorys()">
        <mdb-card class="testimonial-card asb">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1"></div>

          <!--Avatar-->
          <div class="avatar mx-auto mt-4">
            <img src="../../../../assets/img/category.svg" class="" />
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="TBtn">Categorías</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </a>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-4 sepT">
      <a>
        <mdb-card class="testimonial-card asb">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1"></div>

          <!--Avatar-->
          <div class="avatar mx-auto mt-4">
            <img src="../../../../assets/img/platillos.svg" class="" />
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="TBtn">Platillos</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT">
      <!--Card-->
      <a (click)="goToUsers()">
        <mdb-card class="testimonial-card asb">
          <!--Bacground color-->
          <div class="card-up aqua-gradient"></div>

          <!--Avatar-->
          <div class="avatar mx-auto mt-4">
            <img src="../../../../assets/img/clientes.svg" class="" />
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="TBtn">Clientes</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
        <!--/.Card-->
      </a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT mb-5">
      <a>
        <mdb-card class="testimonial-card asb">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1"></div>

          <!--Avatar-->
          <div class="avatar mx-auto mt-4">
            <img src="../../../../assets/img/configuracion.svg" class="" />
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4 class="TBtn">Configuración</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
      </a>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
