<div class="container">
  <p class="ta">Administrador</p>

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-4 sepT">
      <mdb-card class="testimonial-card asb">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1"></div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
            class="rounded-circle"
          />
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4 class="text-center">Menú Actual</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT ">
      <!--Card-->
      <mdb-card class="testimonial-card asb">
        <!--Bacground color-->
        <div class="card-up aqua-gradient"></div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg"
            class="rounded-circle"
          />
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4 class="text-center">Recibos</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT">
      <mdb-card class="testimonial-card asb">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1"></div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
            class="rounded-circle"
          />
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>Categorías</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-4 sepT">
      <mdb-card class="testimonial-card asb">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1"></div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
            class="rounded-circle"
          />
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4 class="text-center">Platillos</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT">
      <!--Card-->
      <mdb-card class="testimonial-card asb">
        <!--Bacground color-->
        <div class="card-up aqua-gradient"></div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg"
            class="rounded-circle"
          />
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4 class="text-center">Clientes</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 sepT mb-5">
      <mdb-card class="testimonial-card asb">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1"></div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
            class="rounded-circle"
          />
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>Configuración</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
