.ta {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #00034E ;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.sepT{
  margin-top: 50px;
}

.al{
  border: 1px solid #00034E;
  border-radius: 50px;
}
.asb{
  border-radius: 50px;
}
