.iconColor {
    background: #8D8989;
    padding: 5px;
    border-radius: 7%;
    padding-left: 10px;
    padding-right: 10px;
    // margin-left: 2px;
  }


  .bgt {
background: #ADADAD;
color: white;
text-align: center;
border: 1px solid #8D8989;
font-family: 'Roboto', sans-serif;

  }

  .centrarbtn {

display: flex;

justify-content: center;

align-items: center;


  }

  .titulo {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 40px;

  }

  .lineas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin-top: -20px;
    & .LA {
      width: 250px;
      height: 5px;
      background: #00034e;
      // margin-bottom: 10px;
    }
    & .LR {
      width: 250px;
      height: 5px;
      background: #139abe;
    }
  }

  @media (max-width: 320px) {
    .lineas {
      .LA {
        width: 130px;
      }
      .LR {
        width: 130px;
      }
    }
  }