.iconColor {
    background: #8D8989;
    padding: 5px;
    border-radius: 7%;
    padding-left: 10px;
    padding-right: 10px;
    // margin-left: 2px;
  }


  .bgt {
background: #ADADAD;
color: white;
text-align: center;
border: 1px solid #8D8989;
  }

  .centrarbtn {

display: flex;

justify-content: center;

align-items: center;


  }