<div class="container mt-5">
  <div class="jumbotron">
    <h2 class="text-center">Usuarios</h2>
    <input
      [(ngModel)]="term"
      class="form-control form-control-sm ml-3 mt-5"
      type="text"
      placeholder="Buscar"
      aria-describedby="helpId"
      aria-label="Search"
      mdbInput
    />

    <table class="table table-hover mt-5">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Genero</th>
          <th scope="col">Telefono</th>
          <th scope="col">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users_list of UsuariosListados | filter: term">
          <td>{{ users_list.username }}</td>
          <td>{{ users_list.first_name }}</td>
          <td>{{ users_list.laste_name }}</td>
          <td>{{ users_list.gender }}</td>
          <td>{{ users_list.phone }}</td>
          <td>
            <button class="btn btn-outline-danger mr-2">
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button class="btn btn-outline-warning mr-2">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btn-outline-primary">
              <mat-icon>house</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
