<div class="container mt-5">
    <div class="jumbotron">
      <p class="titulo">Platillos</p>
  
      <div class="lineas">
        <div class="LA"></div>
        <div class="LR"></div>
      </div>
  
      <div class="centrarC">
        <button class="btn btn-info mt-3">Agregar Platillo</button>
      </div>
      
    
      <div class="col-12 centrarC">
        <div class="mt-5 table-responsive-sm">
          <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th class="bgt" scope="col">Categoria</th>
                <th class="bgt" scope="col">Imagen</th>
                <th class="bgt" scope="col">Operaciones</th>
              </tr>
            </thead>
            <tbody>
           <tr >
             <td></td>
             <td></td>
            <td class="centrarbtn">
              <button class="btn btn-outline-danger mr-2">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button class="btn btn-outline-warning mr-2">
                <mat-icon>edit</mat-icon>
              </button>
  
            </td>
           </tr>
            </tbody>
          </table>
        </div>
      </div>
      
     
    </div>
  </div>
  