<footer class="footer">
  <div class="container">
    <div class="footer-block">
      <img src="../../../assets/img/img_inicio/icons/ucameals2.jpeg" alt="logo" class="logo footer-logo">
      <nav class="footer-nav wow fadeInUp" data-wow-delay="0.4s">
        <a href="#" class="footer-link">Sobre nosotros</a>
        <a href="#" class="footer-link">Sugerencias</a>
        <a href="#" class="footer-link">Contacto</a>
        <a href="#" class="footer-link">Informacion</a>
      </nav>
      <div class="social-links">
        <a href="#" class="social-link"><img src=""> Registrate como repartidor</a>

      </div>
    <!--footer-block-->
  </div>
  </div>
</footer>
