
    <div class="container">
      <header class="header">
        <div id="centrarlogoinicio">
          <a href="index.html" class="logo">
            <img src="../../../assets/img/img_inicio/icons/ucameals2.jpeg" alt="logo"/>
          </a>
        </div>
        <input
          type="text"
          class="input input-address"
          placeholder="¿Que deseas comer?"
        />
        <div class="buttons" id="botonesMenuCentrar">

          <button class="button" id="location-button">
            <img
              src="../../../assets/img/img_inicio/icons/location.svg"
              alt="shopping-cart"
              class="button-icon"
            />
            <span class="button-text"> Ubicacion Actual</span>
          </button>

          <button class="button" id="pedidoboton" data-toggle="modal" data-target="#myModal">
            <img
              src="../../../assets/img/img_inicio/icons/shopping-card-withe.svg"
              alt="shopping-cart"
              class="button-icon"
            />
            <span class="button-text">Pedido</span>
          </button>

  <button class="button button-primary2" id="BtnInit" routerLink="LogIn_UcaMeals">
    <img src="../../../assets/img/img_inicio/icons/user.svg" alt="user" class="button-icon" />
    <span class="button-text">Iniciar Sesion</span>
  </button>

        </div>
      </header>
    </div>
    <!--div class="conteiner"-->
    <main class="main">

        <div class="container">
          <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item>
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
            </mdb-carousel-item>
          </mdb-carousel>

        <br>
        <section class="restaurants">
          <div class="section-heading">
            <h2 class="section-title wow fadeInLeft" data-wow-delay="0.2s">¡Tus Platillos Favoritos!</h2>

          </div>
          <div class="cards">
            <a href="ensaladas.html" class="card wow zoomIn" data-wow-delay="0.2s">
              <img src="../../../assets/img/img_inicio/restaurants/ensalada.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Ensaladas</h3>
                  <span class="card-tag tag">Lista en 20 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <!-- /.card -->
            <a href="sandwiches.html" class="card wow zoomIn" data-wow-delay="0.4s">
              <img src="../../../assets/img/img_inicio/restaurants/sandwich.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Sandwiches</h3>
                  <span class="card-tag tag">Listo en 20 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <!-- /.card -->
            <a href="pasta.html" class="card wow zoomIn" data-wow-delay="0.6s">
              <img src="../../../assets/img/img_inicio/restaurants/pollo.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Pastas</h3>
                  <span class="card-tag tag">Listo en 45 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <!-- /.card -->
            <a href="restaurant4.html" class="card wow zoomIn" data-wow-delay="0.2s">
              <img src="../../../assets/img/img_inicio/restaurants/lighter.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Platillos Lijeros</h3>
                  <span class="card-tag tag">Listo en 30 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <!-- /.card -->
            <a href="restaurant5 .html" class="card wow zoomIn" data-wow-delay="0.4s">
              <img src="../../../assets/img/img_inicio/restaurants/alitas.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Wings</h3>
                  <span class="card-tag tag">Listas en 25 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <!-- /.card -->
            <a href="restaurant6.html" class="card wow zoomIn" data-wow-delay="0.6s">
              <img src="../../../assets/img/img_inicio/restaurants/costillas.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Costillas</h3>
                  <span class="card-tag tag">Listas en 30 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <a href="restaurant6.html" class="card wow zoomIn" data-wow-delay="0.6s">
              <img src="../../../assets/img/img_inicio/restaurants/burger.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Hamburguesas</h3>
                  <span class="card-tag tag">Listas en 15 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <a href="restaurant6.html" class="card wow zoomIn" data-wow-delay="0.6s">
              <img src="../../../assets/img/img_inicio/restaurants/postre.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Postres</h3>
                  <span class="card-tag tag">Listos en 10 min</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <a href="restaurant6.html" class="card wow zoomIn" data-wow-delay="0.6s">
              <img src="../../../assets/img/img_inicio/restaurants/bebidas.jpg" alt="image" class="card-image">
              <div class="card-text">
                <div class="card-heading">
                  <h3 class="card-title">Bebidas</h3>
                  <span class="card-tag tag">Al instante</span>
                </div>
                <!-- /.card-heading -->
                <div class="card-info">

                </div>
                <!-- /.card-info -->
              </div>
              <!-- /.card-text -->
            </a>
            <!-- /.card -->
          </div>
          <!-- /.cards -->
        </section>

      </div>

      <!-- /.conteiner -->
    </main>


    <app-footer></app-footer>
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-header">

            <h4 class="modal-title">Resumen de pedido</h4>
          </div>
          <div class="modal-body">
            <div class="food-row">
                <span class="food-name">Рizza Peperonni</span>
                <strong class="food-price">$120</strong>
                <div class="food-counter">
                  <button class="counter-button">-</button>
                  <span class="counter">1</span>
                  <button class="counter-button">+</button>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <span class="modal-pricetag">Total: $120</span>
            <div class="footer-buttons">

            </div>
            <button class="modal-pricetag-pay">Ordenar</button>
          </div>
    </div>


