<div class="container">
  <header class="header">
    <div id="centrarlogoinicio">
      <a href="index.html" class="logo">
        <img
          src="../../../assets/img/img_inicio/icons/ucameals2.jpeg"
          alt="logo"
        />
      </a>
    </div>
    <input
      type="text"
      class="input input-address"
      placeholder="¿Que deseas comer?"
    />
    <div class="buttons" id="botonesMenuCentrar">
      <button class="button" id="location-button">
        <img
          src="../../../assets/img/img_inicio/icons/location.svg"
          alt="shopping-cart"
          class="button-icon"
        />
        <span class="button-text"> Ubicacion Actual</span>
      </button>

      <button
        class="button"
        id="pedidoboton"
        data-toggle="modal"
        data-target="#myModal"
      >
        <img
          src="../../../assets/img/img_inicio/icons/shopping-card-withe.svg"
          alt="shopping-cart"
          class="button-icon"
        />
        <span class="button-text">Pedido</span>
      </button>

      <button
        class="button button-primary2"
        id="BtnInit"
        routerLink="LogIn_UcaMeals"
      >
        <img
          src="../../../assets/img/img_inicio/icons/user.svg"
          alt="user"
          class="button-icon"
        />
        <span class="button-text">Iniciar Sesion</span>
      </button>
    </div>
  </header>
</div>
